body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-mid: 17px;
  --font-size-xl: 20px;
  --font-size-12xl: 31px;
  --font-size-27xl: 46px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #9e9e9e;
  --color-dimgray: #525252;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-5xs: 8px;
}
