.page1-child {
  position: absolute;
  top: 349px;
  left: 756px;
  border-radius: var(--br-5xs);
  width: 279px;
  height: 71px;
}
.learn-more {
  position: absolute;
  top: 366px;
  left: 806px;
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
  width: 183px;
  height: 38px;
}
.at-bobminecraft-we,
.reliable-minecraft-servers {
  position: absolute;
  top: 0;
  left: 721px;
  font-size: var(--font-size-27xl);
  font-weight: 900;
  display: inline-block;
  width: 612px;
  height: 60px;
}
.at-bobminecraft-we {
  top: 87px;
  left: 734px;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  white-space: pre-wrap;
  width: 601px;
  height: 229px;
}
.minecraft-minecraft-dungeons-w-icon {
  position: absolute;
  top: 30px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 671px;
  height: 378px;
  object-fit: cover;
}
.page1,
.page2-child {
  position: absolute;
  top: 710px;
  left: 58px;
  width: 1335px;
  height: 420px;
}
.page2-child {
  top: 397px;
  left: 41px;
  border-radius: var(--br-5xs);
  width: 279px;
  height: 71px;
}
.learn-more1 {
  position: absolute;
  top: 414px;
  left: 91px;
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
  width: 183px;
  height: 38px;
}
.customizable-server-configurat,
.with-bobminecraft-you {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-27xl);
  font-weight: 900;
  display: inline-block;
  width: 514px;
  height: 127px;
}
.with-bobminecraft-you {
  top: 145px;
  left: 20px;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  width: 601px;
  height: 229px;
}
.a5fa8af7-ee53-49df-886d-39b224-icon {
  position: absolute;
  top: 21px;
  left: 631px;
  border-radius: var(--br-3xs);
  width: 671px;
  height: 376px;
  object-fit: cover;
}
.page2 {
  position: absolute;
  top: 1909px;
  left: 98px;
  width: 1302px;
  height: 468px;
}
.welcome-to-boobminecraft-child {
  position: absolute;
  top: 312px;
  left: 96px;
  border-radius: var(--br-5xs);
  width: 279px;
  height: 71px;
}
.welcome-to-bobminecraft {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 90px;
  font-weight: 900;
  display: inline-block;
  width: 629px;
  height: 232px;
}
.buy-severs,
.your-one-stop-shop {
  position: absolute;
  top: 232px;
  left: 24px;
  display: inline-block;
  width: 638px;
  height: 42px;
}
.buy-severs {
  top: 326px;
  left: 142px;
  font-weight: 900;
  color: var(--color-white);
  width: 186px;
  height: 32px;
}
.e4-a5cc-419e-bec1-97ecc2c60cab-icon {
  position: absolute;
  top: 0;
  left: 671px;
  border-radius: var(--br-3xs);
  width: 670px;
  height: 383px;
  object-fit: cover;
}
.page3-child,
.welcome-to-boobminecraft {
  position: absolute;
  top: 249px;
  left: 58px;
  width: 1341px;
  height: 383px;
}
.page3-child {
  top: 419px;
  left: 757px;
  border-radius: var(--br-5xs);
  width: 279px;
  height: 71px;
}
.learn-more2 {
  position: absolute;
  top: 436px;
  left: 807px;
  font-weight: 900;
  color: var(--color-white);
  display: inline-block;
  width: 183px;
  height: 38px;
}
.at-bobminecraft-we1,
.dedicated-support-team {
  position: absolute;
  top: 0;
  left: 741px;
  font-size: var(--font-size-27xl);
  font-weight: 900;
  display: inline-block;
  width: 573px;
  height: 73px;
}
.at-bobminecraft-we1 {
  top: 94px;
  left: 753px;
  font-size: var(--font-size-9xl);
  font-weight: 300;
  white-space: pre-wrap;
  width: 589px;
  height: 266px;
}
.hodyix-1-icon {
  position: absolute;
  top: 45px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 671px;
  height: 378px;
  object-fit: cover;
}
.page3 {
  position: absolute;
  top: 2426px;
  left: 58px;
  width: 1342px;
  height: 490px;
}
.minecraft-servers {
  position: absolute;
  top: 0;
  left: 470px;
  font-weight: 900;
  display: inline-block;
  width: 426px;
  height: 58px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-dimgray);
  width: 383px;
  height: 549px;
}
.group-inner,
.group-item {
  left: 422px;
}
.group-inner {
  left: 845px;
}
.minecraft-2017-theatrical-po-icon {
  position: absolute;
  top: 20px;
  left: 441px;
  border-radius: var(--br-3xs);
  width: 345px;
  height: 345px;
  object-fit: cover;
}
.group-child1,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 1264px;
  border-radius: var(--br-3xs);
  background-color: var(--color-dimgray);
  width: 383px;
  height: 549px;
}
.group-child1 {
  left: 1687px;
}
.mcsm-season-1-ep-3-redraw-icon,
.minecraft-movie-poster-3-by-2-icon,
.minecraft-warden-poster-by-26-icon {
  position: absolute;
  top: 18px;
  left: 1283px;
  border-radius: var(--br-3xs);
  width: 345px;
  height: 345px;
  object-fit: cover;
}
.mcsm-season-1-ep-3-redraw-icon,
.minecraft-warden-poster-by-26-icon {
  left: 863px;
}
.mcsm-season-1-ep-3-redraw-icon {
  left: 19px;
}
.name-sever-1,
.name-sever-11,
.name-sever-12,
.name-sever-13,
.name-sever-14 {
  position: absolute;
  top: 377px;
  left: 29px;
  display: inline-block;
  width: 217px;
  height: 39px;
}
.name-sever-11,
.name-sever-12,
.name-sever-13,
.name-sever-14 {
  left: 451px;
}
.name-sever-12,
.name-sever-13,
.name-sever-14 {
  left: 873px;
}
.name-sever-13,
.name-sever-14 {
  left: 1293px;
}
.name-sever-14 {
  top: 376px;
  left: 1711px;
}
.price-2067,
.price-20671,
.price-20672,
.price-20673,
.price-20674 {
  position: absolute;
  top: 420px;
  left: 57px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 144px;
  height: 26px;
}
.price-20671,
.price-20672,
.price-20673,
.price-20674 {
  left: 479px;
}
.price-20672,
.price-20673,
.price-20674 {
  left: 901px;
}
.price-20673,
.price-20674 {
  left: 1321px;
}
.price-20674 {
  top: 419px;
  left: 1739px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.rectangle-icon {
  position: absolute;
  top: 450px;
  left: 196px;
  border-radius: var(--br-5xs);
  width: 168px;
  height: 74px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  left: 618px;
}
.group-child3,
.group-child4,
.group-child5 {
  left: 1040px;
}
.group-child4,
.group-child5 {
  left: 1460px;
}
.group-child5 {
  top: 449px;
  left: 1878px;
}
.buy,
.buy1,
.buy2,
.buy3,
.buy4 {
  position: absolute;
  top: 467px;
  left: 246px;
  font-size: var(--font-size-13xl);
  font-weight: 900;
  display: inline-block;
  width: 72px;
  height: 39px;
}
.buy1,
.buy2,
.buy3,
.buy4 {
  left: 668px;
}
.buy2,
.buy3,
.buy4 {
  left: 1090px;
}
.buy3,
.buy4 {
  left: 1510px;
}
.buy4 {
  top: 466px;
  left: 1928px;
}
.minecraft-2-by-rbthemes-dfslpy-icon {
  position: absolute;
  top: 18px;
  left: 1706px;
  border-radius: var(--br-3xs);
  width: 345px;
  height: 345px;
  object-fit: cover;
}
.rectangle-parent,
.scoll-menu-buy {
  position: absolute;
  top: 0;
  left: 0;
  width: 2070px;
  height: 549px;
}
.scoll-menu-buy {
  top: 70px;
  width: 1394px;
  overflow-x: auto;
  font-size: var(--font-size-12xl);
  color: var(--color-white);
}
.minecraft-severs {
  position: absolute;
  top: 1189px;
  left: 46px;
  width: 1394px;
  height: 619px;
  font-size: var(--font-size-27xl);
}
.pag4-end-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkgray);
  width: 1440px;
  height: 339px;
}
.pag4-end-item {
  position: absolute;
  top: 170px;
  left: 467px;
  border-radius: var(--br-3xs);
  width: 380.5px;
  height: 51px;
}
.icons8-facebook-30 {
  position: absolute;
  top: 285px;
  left: 1190px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}
.icons8-instagram-24,
.icons8-telegram-50 {
  position: absolute;
  top: 287px;
  left: 1253px;
  width: 40px;
  height: 41px;
  object-fit: cover;
}
.icons8-telegram-50 {
  top: 285px;
  left: 1383px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.icons8-youtube-50 {
  position: absolute;
  top: 286px;
  left: 1313px;
  width: 56px;
  height: 43px;
  object-fit: cover;
}
.all-rights-reserved,
.contact-us,
.tel-85593367184 {
  position: absolute;
  top: 251px;
  left: 605px;
  font-weight: 300;
  display: inline-block;
  width: 231px;
  height: 21px;
}
.contact-us,
.tel-85593367184 {
  top: 307px;
  left: 343px;
}
.contact-us {
  left: 10px;
  width: 318px;
}
.experience-the-best,
.get-started-with {
  position: absolute;
  top: 27px;
  left: 333px;
  font-size: 42px;
  font-weight: 800;
  display: inline-block;
  width: 774px;
  height: 70px;
}
.experience-the-best {
  top: 97px;
  left: 373px;
  font-size: 19px;
  font-weight: 300;
  width: 712px;
  height: 73px;
}
.pag4-end-inner {
  position: absolute;
  top: 170px;
  left: 870px;
  border-radius: 15px;
  background-color: var(--color-black);
  width: 108px;
  height: 51px;
}
.enter-your-email,
.send {
  position: absolute;
  display: inline-block;
}
.enter-your-email {
  top: 188px;
  left: 487px;
  font-size: 15px;
  font-weight: 300;
  width: 185px;
  height: 15px;
}
.send {
  top: 182px;
  left: 896px;
  font-size: 22px;
  width: 57px;
  height: 28px;
}
.head-page-child,
.pag4-end {
  position: absolute;
  left: 0;
  width: 1440px;
}
.pag4-end {
  top: 2948px;
  height: 339px;
  font-size: var(--font-size-mid);
  color: var(--color-white);
}
.head-page-child {
  top: 0;
  background-color: var(--color-darkgray);
  height: 141px;
}
.bobminecraft1 {
  margin: 0;
}
.bobminecraft {
  position: absolute;
  top: 49px;
  left: 160px;
  font-weight: 900;
  display: inline-block;
  width: 230px;
  height: 37px;
}
.head-page-item {
  position: absolute;
  top: 31px;
  left: 1182px;
  border-radius: 6px;
  width: 212px;
  height: 67px;
}
.get-started {
  position: absolute;
  top: 49px;
  left: 1210px;
  font-size: 27px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 184px;
  height: 31px;
}
.icons8-facebook-301 {
  position: absolute;
  top: 47px;
  left: 904px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  cursor: pointer;
}
.icons8-instagram-241,
.icons8-telegram-501 {
  position: absolute;
  top: 49px;
  left: 967px;
  width: 40px;
  height: 41px;
  object-fit: cover;
}
.icons8-telegram-501 {
  top: 47px;
  left: 1097px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.icons8-youtube-501,
.untitled-1-1-icon {
  position: absolute;
  top: 48px;
  left: 1027px;
  width: 56px;
  height: 43px;
  object-fit: cover;
}
.untitled-1-1-icon {
  top: 27px;
  left: 40px;
  border-radius: 150px;
  width: 88px;
  height: 88px;
}
.head-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 141px;
}
.home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3287px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
